<nav class="navbar header" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home" routerLinkActive="active">
      <img alt="monkey picture" src="../../assets/pictures/monkeyCasque.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" [className]="global.isMobile ? 'navbar-menu color-mobile' : 'navbar-menu '">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/about-me" routerLinkActive="active">
        <fa-icon [icon]="faUser" class="icon fa-lg far"></fa-icon>
        <span>{{'Header.AboutMe' | translate}}</span>
      </a>

      <a class="navbar-item" routerLink="/skills" routerLinkActive="active">
        <fa-icon [icon]="faTools" class="icon fa-lg"></fa-icon>
        <span>{{'Header.Skills' | translate}}</span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a [className]="isDropdownProjectsHovered ? 'dropdown-title-mobile navbar-link' : 'navbar-link'">
          {{'Header.Projects' | translate}}
        </a>

        <div class="navbar-dropdown is-boxed">
          <div (mouseenter)="switchIsDropdownProjectsHovered()" (mouseleave)="switchIsDropdownProjectsHovered()">
            <a class="navbar-item" routerLink="/video-games" routerLinkActive="active">
              <fa-icon [icon]="faGamepad" class="icon fa-lg"></fa-icon>
              <span>{{'Header.VideoGames' | translate}}</span>
            </a>
            <a class="navbar-item" routerLink="/web-sites" routerLinkActive="active">
              <fa-icon [icon]="faGlobe" class="icon fa-lg"></fa-icon>
              <span>{{'Header.WebSites' | translate}}</span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/BLLORET" target="_blank">
              <fa-icon [icon]="faGitHub" class="icon fa-lg"></fa-icon>
              <span>GitHub</span>
            </a>
            <a class="navbar-item" href="https://gitlab.com/BLLORET" target="_blank">
              <fa-icon [icon]="faGitLab" class="icon fa-lg"></fa-icon>
              <span>GitLab</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a [className]="isDropdownLanguageHovered ? 'dropdown-title-mobile navbar-link' : 'navbar-link'">
          {{'Header.Language' | translate}}{{currentLanguage | translate}}
        </a>
        <div (mouseenter)="switchIsDropdownLanguageHovered()" (mouseleave)="switchIsDropdownLanguageHovered()">
          <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" (click)="changeLanguage(ENGLISH)">
                {{ENGLISH | translate}}
              </a>
              <a class="navbar-item" (click)="changeLanguage(FRENCH)">
                {{FRENCH | translate}}
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
