@import ../../styles

.header
    background-color: $custom-blue
    color: #ffffff
    font-weight: bold
    top: 0
    left: 0
    right: 0

.navbar-item img
    max-height: 3rem

.icon
    margin-right: 1rem

// item
a.navbar-item, a.navbar-link
    color: white

a.navbar-item:hover, a.navbar-link:hover
    color: $custom-blue

a.navbar-item:focus
    background-color: $custom-blue
    color: white

a.navbar-item:focus:hover
    background-color: white
    color: $custom-blue

// Drop down title
.navbar-item.has-dropdown:hover .navbar-link
    color: $custom-blue

// drop drown elt
div.navbar-dropdown a.navbar-item
    color: $custom-blue

div.navbar-dropdown a.navbar-item:hover
    background-color: $custom-blue
    color: white

.navbar-link:not(.is-arrowless)::after
    border-color: white

// navbar menu mobile
a.navbar-burger:hover
    color: white

.color-mobile
    background-color: $custom-blue

a.color-mobile:hover
    background-color: white

div.color-mobile
    div.navbar-dropdown
        a.navbar-item
            background-color: white

div.color-mobile
    div.navbar-dropdown
        a.navbar-item:hover
            background-color: $custom-blue

div.color-mobile
    div.navbar-dropdown
        a.navbar-link.hover
            background-color: white

.dropdown-title-mobile
    background-color: white
