@import ../../styles

.title
    color: $custom-blue
    text-align: center

.image-identity-block
    width: 50vw
    text-align: center

.img-identity
    height: 30vh
    border: 5px solid $custom-blue
    border-radius: 50px
  
.img-logo
    height: 2rem
    vertical-align: middle

.direction-mobile
    flex-direction: column
    align-items: center

.width-mobile
    width: 90vw !important