<h1 class="title text-center">{{'AboutMe.Hello' | translate}}</h1>

<div #revertMobileDirection class="is-flex">
  <div #bloc class="image-identity-block">
    <img alt="picture of myself" class="img-identity is-rounded" src="../../assets/pictures/me.png"/>
  </div>

  <div #bloc class="blue-square" [innerHTML]="'AboutMe.Situation' | translate"></div>
</div>

<div #revertMobileDirection class="is-flex">
  <div #bloc #revertMobileColors class="blue-square" [innerHTML]="'AboutMe.VideoGamesWork' | translate"></div>

  <div #bloc #revertMobileColors class="white-square">
    {{'AboutMe.VideoGamesHobby' | translate}}
  </div>
</div>

<div #revertMobileDirection class="is-flex">
  <div #bloc class="white-square">
    {{'AboutMe.StudiesBeforePicture' | translate}}
    <a href="https://www.epita.fr/" target="_blank">
      <img alt="logo of epita" class="img-logo" src="../../assets/pictures/formation/epita.png"/>
    </a>
    {{'AboutMe.StudiesAfterPicture' | translate}}
  </div>

  <div #bloc class="blue-square">
    {{'AboutMe.SpecialityBeforePicture' | translate}}
    <img alt="logo of mti" class="img-logo" src="../../assets/pictures/formation/mti.png">
    {{'AboutMe.SpecialityAfterPicture' | translate}}
  </div>
</div>

<div #revertMobileDirection class="is-flex">
  <div #bloc #revertMobileColors class="blue-square">
    {{'AboutMe.TGDBeforePicture' | translate}}
    <a href="http://thegooddrive.fr/fr/accueil.html" target="_blank">
      <img alt="logo of TGD" class="img-logo" src="../../assets/pictures/experiences/tgd.png"/>
    </a>,
    {{'AboutMe.TGDAfterPicture' | translate}}
    <a href="https://gaming.tobii.com/products/" target="_blank">Tobii eyes tracking</a>.
  </div>

  <div #bloc #revertMobileColors class="white-square">
    {{'AboutMe.LeonBeforePicture' | translate}}
    <a href="https://www.leon-de-bruxelles.fr/" target="_blank">
      <img alt="logo of Leon" class="img-logo" src="../../assets/pictures/experiences/leon.png"/></a>
    {{'AboutMe.LeonAfterPicture' | translate}}
  </div>
</div>
