<div class="is-flex block">
    <h2 class="title">{{title}}</h2>
    <div [className]="global.isMobile ? 'is-flex display-mobile' : 'is-flex display-desktop'">
        <img alt="picture of the project"
             [className]="global.isMobile ? 'img-style-mobile' : 'img-style-desktop'"
             [src]="imgSrc"/>

        <div>
            <div [className]="global.isMobile ? 'desc-mobile' : 'desc-desktop'">{{description | translate}}</div>

            <div *ngIf="download; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><a [href]="link" download>{{'Projects.Download' | translate}}</a></ng-template>
            <ng-template #elseBlock><a [href]="link" target="_blank">{{link}}</a></ng-template>
        </div>
    </div>
    <p>{{'Projects.MadeWith' | translate}} {{technologies}}</p>
</div>
<hr class="solid">
