@import ../../../styles

.display-desktop
  flex-direction: row
  align-items: center
  margin-top: 5vh
  margin-bottom: 2vh

.display-mobile
  flex-direction: column
  align-items: center
  margin-top: 5vh
  margin-bottom: 2vh

.block
  flex-direction: column
  text-align: center
  margin-top: 10vh
  margin-bottom: 10vh

.has-text-left
  text-align: left

.title
  color: white
  padding: 2rem
  background-color: $custom-blue
  border: 5px solid $custom-blue
  border-radius: 50px

.img-style-desktop
  width: 40vw

.img-style-mobile
   width: 80vw

.desc-mobile
  @extend .has-text-left
  margin-top: 2vh
  width: 80vw

.desc-desktop
  @extend .has-text-left
  margin-left: 4vw

/* Solid border */
hr.solid
  border-top: 1px solid $custom-blue
