@import ../../styles
    
img
    max-height: 5rem
    vertical-align: center
    margin: 1rem

.title
    font-size: 1rem
    color: white
    width: 130px
    padding: 2rem
    background-color: $custom-blue
    border: 5px solid $custom-blue
    border-radius: 25px

// Force the center alignement of horizontal and vertical
.align-center
    text-align: center !important
    vertical-align: middle !important

.display
    flex-direction: row