<div class="intro">
  {{'Skills.Intro' | translate}}
</div>

<table class="table is-fullwidth" *ngFor="let skill of skills">
    <tr>
        <td class="title align-center">{{skill.title | translate}}</td>
        <td>
            <span *ngFor="let picture of skill.pictures">
                <img alt="skill picture" [src]="picture"/>
            </span>
        </td>
    </tr>
</table>
