<div class="intro">
  {{'Projects.VideoGames.Intro' | translate}}
</div>

<ul>
    <li *ngFor="let game of videoGames">
        <app-project-item [title]="game.title" [imgSrc]="game.imgSrc" [description]="game.description"
            [link]="game.link" [download]="game.download" [technologies]="game.technologies">

        </app-project-item>
    </li>
</ul>
