.flex-list
    position: relative
    margin: 1em
    overflow: hidden

.flex-list ul
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-left: -1px

.flex-list li
    flex-grow: 1
    flex-basis: auto
    margin: .25em 0
    padding: 0 1em
    text-align: center
    border-left: 1px solid #ccc
    background-color: #fff
