<div class="intro">
  {{'Projects.WebSites.Intro' | translate}}
</div>

<ul>
    <li *ngFor="let site of webSites">
        <app-project-item [title]="site.title" [imgSrc]="site.imgSrc" [description]="site.description"
            [link]="site.link" [download]="site.download" [technologies]="site.technologies">

        </app-project-item>
    </li>
</ul>
