$custom-blue: #263F57
$table-color: $custom-blue
$navbar-burger-color: white

@import "~bulma/bulma.sass"

.intro
    font-size: 1.5rem
    line-height: 1.75rem
    margin-bottom: 10vh

.font
    font-family: "PT Sans", sans-serif
    color: $custom-blue

.border
    margin: 2vw

.blue-square
    padding: 2vw
    width: 50vw
    background-color: $custom-blue
    color: white
    border: 5px solid $custom-blue
    border-radius: 50px

.white-square
    padding: 2vw
    width: 50vw
    background-color: white
    color: $custom-blue
