<div class="is-flex main-block">
    <h1 class="title">{{'Home.Welcome' | translate}}</h1>

    <div class="is-flex">
        <p class="blue-square">{{'Home.About' | translate}}</p>
        <div class="img-block">
            <img alt="profile picture" src="../../assets/pictures/icons/profil.png"/>
        </div>
    </div>

    <div class="is-flex">
        <div class="img-block">
            <img alt="study picture" src="../../assets/pictures/icons/study.png"/>
        </div>
        <p class="blue-square">{{'Home.Skills' | translate}}</p>
    </div>

    <div class="is-flex">
        <p class="blue-square">
          {{'Home.Projects' | translate}}
        </p>
        <div class="is-flex img-block">
            <img alt="project picture" src="../../assets/pictures/icons/project.png"/>
        </div>
    </div>

    <h2 class="title">{{'Home.GoodReading' | translate}}</h2>
</div>
