@import ../../styles

.title
    color: $custom-blue
    text-align: center

.main-block
    flex-direction: column
    align-items: center

img
    height: 15vh

.img-block
    align-self: center
    

.blue-square
    margin: 4vh
    width: 70vw